modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STRIPE_PRICE_PRO = "price_1TJkR1RjJITw6uRPNj2OUBYZ"
STRIPE_PRICE_PREMIUM = "price_1TJkR1RjJITw6uRPb11KXf85"
REFRESH_SECRET = "8795b4cf534df1a46e31de830f72ec9d23d057574ab8b125cbdc8a130cabe1bd7d7d1fa861ca1bb72912fcbbd1094706"
